<header class="navbar">
    <section class="navbar__main-section">
        <figure class="navbar__logo" routerLink="dashboard">
            <img src="assets/images/logo-small.svg" alt="Logo Qatu" />
        </figure>

        <div class="navbar__search">
            <input
                (keyup.enter)="search()"
                [(ngModel)]="searchValue"
                placeholder="Busque por produtos, marcas e categorias"
                type="text"
                class="navbar__search-input"
            />
            <button (click)="search()" class="navbar__search-button">
                <span class="navbar__search-icon"></span>
            </button>
        </div>

        <div class="navbar__promo">
            <span class="navbar__promo-text">
                <span class="navbar__promo-icon"></span>
                O frete é grátis pra todo o Brasil!
            </span>
        </div>
    </section>

    <section class="navbar__actions">
        <!-- Botão do usuário com dropdown -->
        <button
            class="navbar__action-button navbar__user-button"
            [matMenuTriggerFor]="userMenu"
            aria-label="Menu do usuário"
        >
            <span class="navbar__user-icon"></span>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
            <ng-container *ngIf="isAuthenticated; else notLoggedIn">
                <button mat-menu-item routerLink="/client/purchases">
                    <span>Minhas compras</span>
                </button>
                <button mat-menu-item routerLink="/client/sales">
                    <span>Minhas vendas</span>
                </button>
                <button mat-menu-item [routerLink]="'/sale/page'">
                    <span>Anuncie aqui</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <span>Sair</span>
                </button>
            </ng-container>

            <ng-template #notLoggedIn>
                <button mat-menu-item (click)="login()">
                    <span>Entrar</span>
                </button>
                <button mat-menu-item [routerLink]="'/sale/page'">
                    <span>Anuncie aqui</span>
                </button>
            </ng-template>
        </mat-menu>
        <button
            class="navbar__action-button navbar__cart-button"
            (click)="openModalCart()"
        >
            <span class="navbar__cart-icon"></span>
        </button>

        @if (isAuthenticated) {
        <button
            class="navbar__action-button navbar__notification-button"
            (click)="openModalNotifications()"
        >
            <span class="navbar__notification-icon"></span>
        </button>
        } @if (isNotificationModalOpen) {
        <app-modal-notification
            [isOpen]="isNotificationModalOpen"
            [title]="'Notificações'"
            (close)="closeModalNotifications()"
            (clearAll)="clearAllNotifications()"
        ></app-modal-notification>
        }
    </section>
</header>

<header class="categories">
    <div
        class="categories__content"
        #categoriesContainer
        (mousedown)="startDrag($event)"
        (mousemove)="onDrag($event)"
        (mouseup)="endDrag()"
        (mouseleave)="endDrag()"
        (touchstart)="startDrag($event)"
        (touchmove)="onDrag($event)"
        (touchend)="endDrag()"
    >
        <a
            (click)="searchToCategory(undefined)"
            class="categories__content__item"
        >
            <span class="categories__content__emoji">🛒</span>
            <span class="categories__content__text">Todos os produtos</span>
        </a>
        <a
            (click)="searchToCategory(CategoryType.CASA_E_MOVEIS)"
            class="categories__content__item"
        >
            <span class="categories__content__emoji">🏠</span>
            <span class="categories__content__text">Casa e móveis</span>
        </a>
        <a
            (click)="searchToCategory(CategoryType.ESPORTE)"
            class="categories__content__item"
        >
            <span class="categories__content__emoji">⚽</span>
            <span class="categories__content__text">Esportes</span>
        </a>
        <a
            (click)="searchToCategory(CategoryType.BELEZA)"
            class="categories__content__item"
        >
            <span class="categories__content__emoji">💅🏻</span>
            <span class="categories__content__text">Beleza</span>
        </a>
        <a
            (click)="searchToCategory(CategoryType.MODA)"
            class="categories__content__item"
        >
            <span class="categories__content__emoji">👕</span>
            <span class="categories__content__text">Moda</span>
        </a>
        <a
            (click)="searchToCategory(CategoryType.TECNOLOGIA)"
            class="categories__content__item"
        >
            <span class="categories__content__emoji">📱</span>
            <span class="categories__content__text">Tecnologia</span>
        </a>
        <a
            (click)="searchToCategory(CategoryType.INFANTIL)"
            class="categories__content__item"
        >
            <span class="categories__content__emoji">👶🏼</span>
            <span class="categories__content__text">Infantil</span>
        </a>
    </div>
</header>
