@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.mat-menu-panel {
    margin-right: 10px !important;
    background-color: #ffffff !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
}

.mat-mdc-menu-content {
    background-color: #ffffff;
}

/* Notificação no sistema */
.success-snackbar .mat-mdc-snack-bar-label {
    color: white !important;
}

.success-snackbar .mat-mdc-button {
    color: white !important;
}

.error-snackbar .mat-mdc-snack-bar-label {
    color: white !important;
}

.error-snackbar .mat-mdc-button {
    color: white !important;
}

.success-snackbar .mdc-snackbar__surface {
    background-color: #25a55f !important;
}

.error-snackbar .mdc-snackbar__surface {
    background-color: #d32f2f !important;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
    border-radius: 32px 0 0 32px !important;
}
