<div class="notification-overlay" [class.active]="isOpen" (click)="closeModal()"></div>

<div class="notification-wrapper" [class.is-active]="isOpen">
    <main class="notification">
        <section class="notification__header">
            <h2>{{ title }} ({{ notificationCount }})</h2>
            <button (click)="closeModal()" aria-label="Fechar">×</button>
        </section>

        <section class="notification__content" #contentContainer [class.loading]="isLoading">
            @for (notification of notifications; track $index) {
            <div class="notification-item" [class.unread]="!notification.read" (click)="markAsRead(notification)">
                <p>{{ notification.message }}</p>
                <small>{{ notification.createdAt | date : "dd/MM/yyyy HH:mm" }}</small>
            </div>
            }

            @if (isLoading) {
            <div class="loading-indicator">
                <div class="spinner"></div>
                <span>Carregando notificações...</span>
            </div>
            } @else if(!isLoading && notifications.length === 0) {
            <div class="empty-notifications">
                <object type="image/svg+xml" style="width: 250px" data="assets/images/empty-notifications.svg"
                    class="svg-icon" alt="Nenhuma notificação"></object>
                <p>Nenhuma notificação disponível</p>
            </div>
            }
        </section>

        <section class="notification__footer">
            <button (click)="clearAllNotifications()" [disabled]="notifications.length === 0" class="clear-all-btn">
                LIMPAR TODAS AS NOTIFICAÇÕES
            </button>
        </section>
    </main>
</div>
