<footer class="footer">
    <figure class="footer__logo">
        <img src="assets/images/logo-big.svg" alt="Logo Qatu">
    </figure>

    <article class="footer__links">
        <a href="/sobre-nos" class="footer__link">Sobre nós</a>
        <a href="/central-de-ajuda" class="footer__link">Central de ajuda</a>
        <a href="/termos-de-uso" class="footer__link">Termos de uso</a>
        <a href="/contato" class="footer__link">Contato</a>
    </article>

    <span class="footer__copyright">2025 Qatu - Todos os direitos reservados</span>
</footer>
