@for (itemProduct of product; track $index) {
<section class="product-card" (click)="openProductDetails(itemProduct._id)">
    <figure class="product-card__image-container">
        <img class="product-card__image" [src]="itemProduct.image" [alt]="itemProduct.title">
    </figure>

    <div class="product-card__tags">
        <span class="product-card__tag product-card__tag--category">{{ itemProduct.category | titlecase }}</span>
        <span class="product-card__tag product-card__tag--shipping">Entrega grátis</span>
    </div>

    <h2 class="product-card__title">{{ itemProduct.title }}</h2>

    <div class="product-card__description">
        <p class="product-card__specification">{{ itemProduct.description }}</p>
    </div>

    <div class="product-card__footer">
        <div class="product-card__price-container">
            <span class="product-card__currency">R$</span>
            <span class="product-card__price">{{ itemProduct.price }}</span>
        </div>

        <button class="product-card__button" [disabled]="!isAuthenticated" (click)="addToCart(itemProduct); $event.stopPropagation()">
            <span class="product-card__button-icon"></span>
        </button>
    </div>
</section>
} @empty {
<section class="search__empty">
    <figure>
        <img src="assets/figures/empty-search.svg" alt="Lista vazia">
    </figure>
</section>
}
